#!/bin/sh

archive_base_name=choreonoid-@CNOID_FULL_VERSION@

rm -fr ${archive_base_name}
rm -fr ${archive_base_name}-$1.tar.gz
cp -fr @CMAKE_INSTALL_PREFIX@  ${archive_base_name}
tar -czf ${archive_base_name}-$1.tar.gz ${archive_base_name}
rm -fr ${archive_base_name}
